<!--form (submit)="addRappel()">
  taches:<input [(ngModel)]="rappel.tache" type="text" placeholder="tache" name="t">
  date et heure:<input type="datetime-local" [(ngModel)]="rappel.date" name="dt" placeholder="date et heure" >
  <button type="submit" >Enregistrer</button>
</form>
<table-- class="table table-stripped table-bordered">
  <thead>
<tr>
  <th>#</th>
  <th>Tache</th>
  <th>Date et heures</th>
  <th>Action</th>
</tr>

  </thead>
  <tbody>
    <tr *ngFor="let rp of rappels; let i=index">
      <td>{{i+1}}</td>
      <td>{{rp.tache}}</td>
      <td>{{rp.date}}</td>
      <td><button (click)="deleteRappel(i)">Supprimer</button></td>
    </tr>
  </tbody>
</table-->


<router-outlet></router-outlet>
